@page "{Id=}"
@model WebApplication1.Pages.Products.EditModel
@using WebApplication1.DataAccess
@{
}

@{
    var product = (Product)ViewData["product"];
    var suppliers = (List<Supplier>)ViewData["suppliers"];
    var categories = (List<Category>)ViewData["categories"];
}

<div>
    <form method="post" class="m-2 p-3 bg-light">
      <div class="form-group m-2">
          <label for="product.productName">Product Name</label>
          <input type="text" name="product.productName" value="@product.ProductName"/>
      </div>
      <div class="form-group m-2">
          <label for="product.supplierID">Supplier</label>
          <select name="product.supplierID">
                @foreach (var s in suppliers)
                {
                    <!option value="@s.SupplierId" @(s.SupplierId == product.SupplierId ? "selected" : "")>@s.CompanyName</!option>
                }
          </select>
      </div>
      <div class="form-group m-2">
          <label for="product.categoryID">Category</label>
          <select name="product.categoryID">
                @foreach (var c in categories)
                {
                    <!option value="@c.CategoryId" @(c.CategoryId == product.CategoryId ? "selected" : "")>@c.CategoryName</!option>
                }
          </select>
      </div>
      <div class="form-group m-2">
          <label for="product.quantityPerUnit">Quantity Per Unit</label>
          <input type="text" name="product.quantityPerUnit" value="@product.QuantityPerUnit"/>
      </div>
      <div class="form-group m-2">
          <label for="product.unitPrice">Unit Price</label>
          <input type="text" name="product.unitPrice" value="@product.UnitPrice"/>
      </div>
      <div class="form-group m-2">
          <label for="product.unitsInStock">Unit In Stock</label>
          <input type="number" name="product.unitsInStock" value=@product.UnitsInStock />
      </div>
      <div class="form-group m-2">
          <label for="product.discontinued">Discontinued</label>
          <input type="radio" name="product.discontinued" value=true @(product.Discontinued ? "checked" : "")/>Yes
          <input type="radio" name="product.discontinued" value=false @(product.Discontinued ? "" : "checked")/>No
      </div>
      <div class="form-group m-2">
          <input class="btn btn-info" type="submit" value="Update Product" />
      </div>
    </form>
</div>
